exportPattern("^[[:alpha:]]+")
exportMethods(
  "initialize",
  "GetAges",
  "JSON",
  "PlotDist",
  "Plot",
  "Pyramid",
  "QuantilizeMonths",
  "QuantilizeYears",
  "Query",
  "run",
  "show" 
)
exportClasses(
  "ITSMonthly",
  "ITSMonthlyChanged",
  "ITSMonthlyClosed",
  "ITSMonthlyLastClosed",
  "ITSMonthlyOpen",
  "ITSMonthlyVarious",
  "ITSTicketsChangesTimes",
  "ITSTicketsTimes",
  "Demographics",
  "Ages",
  "Query",
  "TimedEvents",
  "Times",
  "TimeSeriesYears" 
)
import("RMySQL")
import("rjson")
import("RColorBrewer")
import("ggplot2")

