.subreport-list-item {float:right;height:100px;width:50%;margin-right:15px;}/* For lists with graphs */

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.row-fluid{
    padding-top: 10px;
}

